.button {
	border-radius: 4px;
	/* height: 48px; */
	border: none;
	font-size: 1em !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 800;
	text-align: center;
	/* theme blue */
}

.button:focus {
	outline: none;
}

.button:hover {
	cursor: pointer;
}
