.mainContainer {
	background-color: rgb(51, 25, 75);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	font-size: 30px;
	font-weight: bolder;
	color: white;
	margin-bottom: 50px;
	margin-top: 20px;
}

.container {
	display: flex;
	background-color: red;
	width: 80%;
	height: -webkit-fill-available;
	margin-bottom: 30px;
	flex-direction: column;
	align-items: center;
}

.formWrapper {
	width: -webkit-fill-available;
	height: 100%;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 24px;
}

.formContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.formContainer > * {
	margin-top: 1em;
}

.changeView {
	display: flex;
	align-items: center;
	justify-content: center;
}
