.deleteButton {
	display: none;
}

.userRow {
	display: flex;
	padding: 10px;
}

.userRow:hover {
	z-index: 999;
	box-shadow: 2px 2px 5px rgb(187, 184, 184);
	/* background-color: grey; */
}

.userRow:hover > * {
	display: block;
}

.paginationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.userContainer {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.avatar {
	background-color: #c1b6ca;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
}

.userDisplay {
	margin-left: 16px;
	flex-grow: 1;
}
