.card {
	height: 100%;
	width: fit-content;
	flex-grow: 1;
	min-width: 500px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 5px grey;
	padding-top: 24px;
	position: relative;
}
