.inputContainer {
	border: solid 0.25px rgba(197, 195, 195, 0.03) !important;
	border-radius: 5px;
	width: 100%;
	display: flex;
}
.input {
	border-radius: 5px;
	padding: 9px 16px;
	height: fit-content;
}
