.accountStatus {
	min-width: fit-content;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	display: none;
	text-align: right;
	letter-spacing: 0.15px;
	/* Monochrome/Black */
	color: #000000;
}

@media screen and (min-width: 768px) {
	.accountStatus {
		display: initial;
	}
}

.container {
	display: flex;
	align-items: center;
	height: 40px;
	padding-top: 24px;
}

.avatar {
	color: black;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.details {
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	flex-grow: 1;
}

.taskLabel {
	font-weight: bolder;
	font-size: 24;
}

.detailsContainer {
	display: flex;
}

.detailsHeading {
	font-weight: bolder;
	padding-right: 5px;
}
