.listItem {
	background-color: white;
	padding: 0 10px;
}

.listItem:hover {
	background-color: #c1b6ca;
	cursor: pointer;
}

.container {
	flex-direction: column;
	border: 1px solid grey;
	z-index: 99;
	height: fit-content;
	background: white;
}
